.filters ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.filters li {
  cursor: pointer;
  font-size: 0.8rem;
  color: #374151;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  border: 1px solid lightgray;
}

.filters li.active {
  background-color: #2563eb;
  color: white;
  border-color: #2563eb;
}